<div>
  <br>
  <br>
  <select name="model" id="model" [(ngModel)] = "spacy.model">
    <option value="en">English</option>
    <option value="de">Deutsch</option>
  </select>
  <br>
  <br>
  <br>

  <label for="input">Input: </label><br/>  <br>
  <textarea id="input" [(ngModel)]="spacy.input" placeholder="input" cols="30" rows="10"></textarea>
  <br>
  <br>

  <button (click)="getResponse()">Get Response</button>

  <div>
    <ul *ngIf="spacy.output != ''">
      <li><h2>Arcs:</h2></li>
      <li *ngFor="let arc of spacy.output.arcs">dir: {{arc.dir}} | end: {{arc.end}} | label: {{arc.label}} | start: {{arc.start}} | text: {{arc.text}} </li>
    </ul>
    <ul *ngIf="spacy.output != ''">
      <li><h2>Words:</h2></li>
      <li *ngFor="let word of spacy.output.words">tag: {{word.tag}} | text: {{word.text}} </li>
    </ul>
  </div>
</div>

